@import url('../Blue/style.css');

a{
	color:#ff6310;
	}

#header{
	background: #195866 url(header_big.png)  repeat-x top left;
	}
	
#menu a{
	color:#eee;
	text-shadow: #556688 1px 1px 1px;
	}
	
#menu a:hover{
	background-color:#296876;
	}
	
#menu a.selected, #menu a.childselected, #menu a.selected:hover, #menu a.childselected:hover {
	background-color:#e6e6e6;
	color:#296876;
	text-shadow: #7788aa 1px 1px 1px;
	}
	
#submenu{
	background: #e6e6e6 url(../menu_bg.png);
	border-bottom:1px solid #444;
	}
	
#submenu a{
	color:#296876;
	}
#submenu a.selected, #submenu a:hover{
	background-color:#fafafa;
	}
	
#sidepanel h3{
	background: #296876;
	}
