<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    processIsolation	= "false"
    stopOnFailure		= "true"
    stopOnError			= "false"
    stopOnIncomplete	= "false"
    stopOnSkipped		= "false"
    bootstrap			= ".phpunit/bootstrap.php"
    >

    <testsuites>
        <testsuite name="gpEasy Test Suite">
            <directory>.phpunit</directory>
        </testsuite>
    </testsuites>

</phpunit>

