<?xml version="1.0" encoding="UTF-8" ?>
<!-- BEGIN gpEasy -->
<configuration>
<system.webServer>
	<rewrite>
		<rules>
			<rule name="Redirect index.php" stopProcessing="true">
				<match url="index\.php/(.*)" />
				<action type="Redirect" url="{R:1}" appendQueryString="false" />
			</rule>
			<rule name="Rewrite index.php">
				<match url="(.*)" />
				<conditions>
					<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
				</conditions>
				<action type="Rewrite" url="index.php/{R:1}" />
			</rule>
		</rules>
	</rewrite>
</system.webServer>
</configuration>
<!-- END gpEasy -->