
.ml_stats{
	width:50%;
	min-width:350px;
	display:inline-block;
	vertical-align:top;
}
.ml_stats > div{
	margin:0 20px 20px 0;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
	}

.ml_stats .bordered{
	width:100%;
	margin:0;
	}

span.combobox{
	position:relative;
	display:inline-block;
	padding:1px 1px 0 1px !important;
	overflow:hidden;
	}
span.combobox:after{
	position:absolute;
	right:0;
	font-size:10px;
	color:#666;
	content:"\25BC";
	padding:2px 5px 5px 5px;
	border-left:1px solid #eee;
	background:#fff;
	cursor:pointer;
	}

span.combobox > input{
	margin:0 !important;
	border:0 none !important;
	background:#fff !important;
	padding: 2px !important;
	}
.checkbox_table tr td{
	cursor:pointer;
	}
.checkbox_table tr.checked td{
	background-color:#FEF9B0 !important
	}
