@import url('../Blue/style.css');

a{
	color:#396a01;
	}

#header{
	background: #396a01 url(header_big.png)  repeat-x top left;
	}
	
#menu a{
	color:#eee;
	text-shadow: #194a01 1px 1px 1px;
	}
	
#menu a:hover{
	background-color:#498a02; //#7dc006;
	}
	
#menu a.selected, #menu a.childselected, #menu a.selected:hover, #menu a.childselected:hover {
	background-color:#e6e6e6;
	color:#333;
	text-shadow: #777 1px 1px 1px;
	}
	
#submenu{
	background: #e6e6e6 url(../menu_bg.png);
	border-bottom:1px solid #444;
	}
	
#submenu a{
	color:#333;
	}
#submenu a.selected, #submenu a:hover{
	background-color:#fafafa;
	}
	
#sidepanel h3{
	background: #333;
	color:#fafafa;
	}
#sidepanel h3 a{
	color:#fafafa;
	}
