@import url('../Blue/style.css');


#header{
	border-bottom:9px solid #4455bb;
	}
#header2{
	border-bottom:5px solid #6688bb;
	}


#menu li:hover a , #menu li a.selected {
	background: #6688bb;
	border-color:#6688bb;
}
