@import 'include/thirdparty/Bootstrap4/scss/_bootstrap.scss';
// United 4.0.0
// Bootswatch


// Variables ===================================================================

$web-font-path: "https://fonts.googleapis.com/css?family=Ubuntu:400,700" !default;
@import url($web-font-path);

$navbar-height: ($nav-link-height + $navbar-padding-y * 2);

body {
  padding-top: ($navbar-height + 2rem);
}

// Navbar =======================================================================

.navbar-collapse > .GPAREA {
  //  Menu -> align right
  margin-left: auto;
}

// Buttons =====================================================================

// Typography ==================================================================

// Tables ======================================================================

// Forms =======================================================================

// Navs ========================================================================

// Indicators ==================================================================

// Progress bars ===============================================================

// Containers ==================================================================
