/**
 * Bootswatch 4 Scss
 * common styles used in all layouts
 *
 * we use vendor-prefix mixins, see /include/thirdparty/Bootstrap4/scss/bootstrap/vp-mixins
 *
 */

$navbar-height: ($nav-link-height + $navbar-padding-y * 2);

@import 'contactform.scss';
@import 'compensate_fixed_navbar.scss'; // default, use only with 'fixed-top' class on navbar in template.php line 44

// Page Flex Layout for Sticky Footer ==========================================
html, body {
  height: 100%;
}

body {
  // use vendor-prefix mixins
  @include vp-flexbox();
  @include vp-flex-direction(column); 
}

// Height fix for Admin Top Bar and active 'Hide Admin UI' plugin
html:not(.override_admin_style) body.gpAdmin {
  height:calc(100% - 29px);
}

.main-content {
  // use vendor-prefix mixins
  @include vp-flex(1 0 auto);
}

footer.main-footer {
  // use vendor-prefix mixins
  @include vp-flex-shrink(0);
}


// Navbar =======================================================================

// $navbar-height: ($nav-link-height + $navbar-padding-y * 2); // moved to common_variables.scss

// Fix for bad container paddings in navbars (as of Bootatrap 4.1.1)
@include media-breakpoint-up(sm) {
  .navbar-expand-lg > .container, 
  .navbar-expand-lg > .container-fluid {
    padding-right: ($grid-gutter-width / 2);
    padding-left: ($grid-gutter-width / 2);
  }
}


// when using fixed-top
// moved to compensate_fixed_navbar.scss
// body {
//  padding-top: ($navbar-height + 2rem);
// }

// Align menu right, fix dropdown alignment
.navbar-right {
  > .GPAREA {
   margin-left: auto;
  }
  .dropdown-menu {
    left: auto;
    right: 0;
  }
}


// convert Typesetter grid to become Bootstrap 4 (flex) grid =======================
.gpRow    { @extend .row; }
.gpCol-1  { @extend .col-md-1; }
.gpCol-2  { @extend .col-md-2; }
.gpCol-3  { @extend .col-md-3; }
.gpCol-4  { @extend .col-md-4; }
.gpCol-5  { @extend .col-md-5; }
.gpCol-6  { @extend .col-md-6; }
.gpCol-7  { @extend .col-md-7; }
.gpCol-8  { @extend .col-md-8; }
.gpCol-9  { @extend .col-md-9; }
.gpCol-10 { @extend .col-md-10; }
.gpCol-11 { @extend .col-md-11; }
.gpCol-12 { @extend .col-12; }

// fixes for flex grid
.filetype-wrapper_section.row {
  > .gpclear {
    display: none;
  }
  &:after{
    content: none;
  }
}


// Extra Content 'Dropdown Divider'
.gpArea_Extra_Bootstrap_Dropdown_Divider {
  @extend .dropdown-divider;
}

// Admin Links
.footer-admin-links {
  > span {
    margin-right: 0.75em;
  }

  .sitemap_link > a:before, 
  .login_link > a:before {
    display: inine-block;
    font-family: FontAwesome;
  }

  .sitemap_link > a:before {
    content: "\f0ca\a0";
  }

  .login_link > a:before {
    content: "\f2bd\a0";
  }
}
