#install_wrap{
	width:655px;
	margin:0 auto;
	}

#install_wrap h3,
#install_wrap h3 a{
	padding-bottom:0;
	font-size:20px !important;
	font-weight:normal;
	margin-bottom:0;
	margin-top:0;
	}
#install_step{
	margin:20px auto;
	border:1px solid #ccc;
	background:#f5f5f5;
	-moz-border-radius:5px;
	border-radius:5px;
	padding:5px;
	}
#install_step_inner{
	background:#fff;
	padding:10px;
	border:1px solid #ccc;
	-moz-border-radius:3px;
	border-radius:3px;
	}

#install_step th{
	font-size:20px !important;
	font-weight:normal;
	border:none;
	background:#fff;
	padding:0 0 10px;
	text-align:left;
	}

#install_step .label{
	white-space:nowrap;
	padding-right:20px;
	}

#parent_folders{
	border:1px solid #ccc;
	padding:2px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin-bottom:4px;
	}
#parent_folders span{
	display:inline-block;
	background: #efefef;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #efefef;
	padding:0;
	margin:1px;
	line-height:24px;
}
#parent_folders form,
#parent_folders input{
	display:inline;
	}
#parent_folders input{
	display:inline-block;
	background: #fff;
	border: 1px solid #efefef;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding:0;
	margin:1px;
	height:24px;
	width:70px;
	}

#parent_folders a{
	display:block;
	padding: 3px 10px;
	color:#333 !important;
	height:18px;
	}
#destination_select ul{
	list-style:none;
	margin:1px 0;
	padding:0;
	}
#destination_select ul li{
	overflow:hidden;
	padding: 0 0 0 20px;
	padding: 0;
	}
#destination_select li span{
	display:block;
	white-space:nowrap;
	padding:0;

	background: #e9e9e9 url('../../../include/imgs/folder.png') 4px 50% no-repeat;
	}
#destination_select li span.odd{
	background-color:#f7f7f7;
	}

#destination_select span:hover{
	background-color: #ccc !important;
	}

#destination_select li a{
	display:block;
	padding: 5px 10px 5px 24px;
	color:#333 !important;
	margin-right:100px;
	}

#destination_select a.select,
#destination_select input.gppost{
	float:right;
	padding:2px 5px;
	margin:3px;
	border:0;
	-moz-border-radius:3px;
	border-radius:3px;
	font-size:13px;

	color:#fff !important;
	background-color:#6aa84f;
	}

#destination_select a.rm{
	float:right;
	padding:2px 5px;
	margin:3px;
	display:none;
	}
#destination_select span.expand a.rm{
	display:block;
	}

/*
#destination_select a.not_installable{
	color:#990000 !important;
	background:none;
	}
*/

#destination_select form{
	display:block;
	background: #e9e9e9;
	border:2px solid #e9e9e9;
	border-width:2px 0 2px 2px;
	}
#destination_select form.odd{
	background-color:#f7f7f7;
	border-color:#f7f7f7;
	}
#destination_select input.text{
	border:1px solid #ccc;
	padding: 4px;
	display: block;
	}



#install_status{
	width:100%;
	padding:5px;
	border:1px solid #ccc;
	background:#f5f5f5;
	-moz-border-radius:5px;
	border-radius:5px;
	padding:10px 10px 10px 10px;
	color:#555;
	}
#install_status th{
	text-align:left;
	font-weight:normal;
	vertical-align:top;
	width:120px;
	padding-right:10px;
	}
#install_status td{
	padding:3px 10px;
	}
#install_state.ready a{
	font-weight:bold;
	}

#install_continue{
	text-align:right;
	margin-top:10px;
	}

#install_continue input{
	border:1px solid #ccc;
	-moz-border-radius:5px;
	border-radius:5px;
	padding:1px 5px;
	margin:5px;
	cursor:pointer;
	}

#install_continue .continue{
	padding:4px 26px;
	font-size:15px;
	color:#fff;
	font-weight:bold;

	background-color:#6aa84f;
	border:1px solid #38761d;
	-moz-border-radius:5px;
	border-radius:5px;
	}

#ms_links{
	padding:25px 0;
	}

#ms_links a{
	font-size:17px;
	margin:3px 7px 3px 0;
	}
