
html{
	margin-top:$gp_nav_height;
	}



body.gpAdmin #admincontent_panel.fixed{
	position:fixed;
	top:0;
	left:0;
	right:0;
	height:$gp_nav_height;
	z-index:8999;
}


#admincontent_panel .msg_publish_draft{
	background-color:#329880;
	}

#admincontent_panel .msg_discard_draft{
	background-position: 2px -23px;
	background-color:#c83131;
	}