.gp_gallery{
	clear:both;
	overflow:auto !important; /* for gallery display in admin content */
	}

.gp_gallery li{
	float:left;
	width:20em;
	overflow:hidden;
	list-style:none;
	display:inline-block;
	margin:0 1em 1em 0;
	padding:.5em .5em 0 .5em;
	border:1px solid #ccc;
	height:110px;
	border-radius:9px;
	background: #ededed;
	background: #ededed -moz-linear-gradient(top, #fafafa 5px, #ededed 25px);
	background: #ededed -webkit-linear-gradient(top, #fafafa 5px,#ededed 25px);
	background: #ededed -o-linear-gradient(top, #fafafa 5px,#ededed 25px);
	background: #ededed -ms-linear-gradient(top, #fafafa 5px,#ededed 25px);
	background: #ededed linear-gradient(top, #fafafa 5px,#ededed 25px);
	color:#333;
	position:relative;
	}

.gp_gallery div{
	margin-left:110px;
	}

.gp_gallery img{
	left:10px;
	top:10px;
	position:absolute;
	margin:0 1em 1em 0;
	}

