
html{
	-webkit-transition: margin 0.5s;
	-moz-transition: margin 0.5s;
	transition: margin 0.5s;
	}

#ckeditor_wrap{
	display:block;
	position:fixed;
	bottom:0;
	right:-220px;
	width:220px;
	top:0;
	z-index:10000; /* to be above full screen editing of ckeditor */
	background:#eee;
	font-family:Arial,sans-serif !important;

	-webkit-transition: right 0.5s;
	-moz-transition: right 0.5s;
	transition: right 0.5s;
	}

#ckeditor_wrap.show_editor{
	right:0;
	visibility:visible;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	}

#ckeditor_wrap.show_editor .fa-angle-double-left{
	display:none;
	}


#ckeditor_tabs a,
#cktoggle{
	height:29px;
	line-height:29px;
	color:#fff !important;
	background:#444;
	outline:none;
	}

#cktoggle{
	display:block;
	position:absolute;
	top:0;
	left:-30px;
	padding:0 5px;
	width:20px;
	font-size:20px;
	line-height:29px;
	text-align:center;
	overflow:hidden;
	}

#ckeditor_tabs{
	display:table;
	width:100%;
	}

#ckeditor_tabs a{
	display:table-cell;
	padding:0 10px;
	text-align:center;
	color:#888 !important;
	}

#ckeditor_tabs a.selected{
	color:#fff !important;
	}

/**
 * #ckeditor_area
 *
 */
#ckeditor_area{
	padding:10px 10px 0 10px;
	overflow:auto;
	box-sizing:border-box;
	}


#ckeditor_bottom{
	overflow:hidden;
	}

#ckeditor_area .cke_chrome{
	padding:0;
	border:0 none;
	}
#ckeditor_area .cke_inner{
	background:transparent !important;
	padding:0 !important;
	border:0 none !important;
	}

#ckeditor_area .tools{
	clear:both;
	}

#ckeditor_area .cke_top{
	border-top:1px solid #ddd;
	margin-top:6px;
	}
#ckeditor_area .cke_toolbar{
	width:100%;
	border-bottom:1px solid #ddd;
	border-top:1px solid #fff;
	padding:4px 0 !important;
	margin:0;
	}
#ckeditor_area .cke_toolgroup{
	margin-right:0;
	text-align:justify;
	width:100%;
	background:none;
	border-radius:0;
	}

#ckeditor_area	a.cke_combo_button{
	background:none;
	}

/* format/font/font-size menus */
#ckeditor_area .cke_combo__format .cke_combo_text{
	width:51px;
	}
#ckeditor_area .cke_combo__font .cke_combo_text{
	width:40px;
	}
#ckeditor_area .cke_combo__fontsize .cke_combo_text{
	width: 30px;
	}

#ckeditor_wrap .ck_saving,
#ckeditor_wrap .ck_saved,
#ckeditor_wrap .ckeditor_control{
	font-size:12px !important;
	text-decoration:none !important;
	display:inline-block;
	margin: 0 4px 8px 0 !important;

	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	vertical-align:top;

	line-height:18px;
	padding:3px 5px !important;
	height:26px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	}

#ckeditor_wrap .ckeditor_control{


	border:1px solid #fafafa;
	border-color: #fafafa  #fafafa  #dad9d9 #dad9d9 !important;

	background-color:#fafafa;
	background: -moz-linear-gradient(top, #fff, #f7f7f7);
	background: -webkit-linear-gradient(top, #fff, #f7f7f7);
	background: -o-linear-gradient(top, #fff, #f7f7f7);
	background: -ms-linear-gradient(top, #fff, #f7f7f7);
	background: linear-gradient(top, #fff, #f7f7f7);

	border-radius:5px;
	color:#444 !important;
	text-shadow:1px 1px 0 #fff;
	}

#ckeditor_wrap .ckeditor_control.nodisplay{
	display:none;
	}

#ckeditor_wrap .ckeditor_control.selected{
	background: rgba(0,0,0,0.01);
	border-color: #eee #f5f5f5 #f5f5f5 #eee !important;
	font-weight:bold;
}


#ckeditor_wrap .full_width,
#ckeditor_wrap .half_width{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom:4px;
	min-height:21px;
	display:inline-block;
	padding:3px 5px;
	font-size:12px !important;
	}


#ckeditor_wrap .full_width,
#ckeditor_wrap .full_width:hover,
#ckeditor_wrap .full_width:active{
	width:195px;
	}

#ckeditor_wrap .half_width,
#ckeditor_wrap .half_width:hover,
#ckeditor_wrap .half_width:active{
	width:123px;
	}
#ckeditor_wrap input.half_width,
#ckeditor_wrap input.full_width,
#ckeditor_wrap a.half_width,
#ckeditor_wrap a.full_width{
	text-align:center;
	}


/**
 * border around area being editing
 */
.editable_area,
.gp_editing{
	position:relative;
	outline:none;
	}

.gp_editing{
	z-index:9000;
	}

.editable_area:not(.filetype-wrapper_section):hover{
	outline:1px dotted #ccc !important;
	}

.gp_edit_current,
.gp_edit_current:hover{
	outline:1px solid #ccc !important;
	}

#ckeditor_area .label{
	margin-right:4px;
	}


/* include  editing */
.gp_inlude_edit{
	font-size:12px;
	color:#444;
	margin:0 0 8px 0;
	float:left;
	display:block;
	}

#gp_admin_html .gp_inlude_edit .label{
	margin:0;
	background:none;
	color:#444;
	}
#gp_admin_html .gp_inlude_edit input{
	border:1px solid #ccc;
	border-radius: 5px;
	padding:4px;
	width:185px;
	margin-right:4px;
	}


/**
 * Tabs
 *
 */
#ckeditor_wrap .cktabs .ckeditor_control{
	margin-right:-1px !important;
	margin-left:0 !important;
	border-radius:0;
	}
#ckeditor_wrap .cktabs .ckeditor_control:first-child{
	border-radius:5px 0 0 5px;
	}
#ckeditor_wrap .cktabs .ckeditor_control:last-child{
	border-radius:0 5px 5px 0;
	}

/**
 * Save
 */
#ckeditor_save{
	text-align:right;
	padding:10px 10px 0 10px;
	box-sizing:border-box;
	}

#ckeditor_wrap .ck_save,
#ckeditor_wrap .ck_saving,
#ckeditor_wrap.not_saved .ck_saved{
	display:none;
	}

#ckeditor_wrap.not_saved .ck_save,
#ckeditor_wrap .ck_saved{
	display:inline-block;
	}

#ckeditor_wrap.ck_saving .ck_save,
#ckeditor_wrap.ck_saving .ck_saved{
	display:none;
	}

#ckeditor_wrap.ck_saving .ck_saving{
	display:inline-block;
}
}