


/* ckeditor... and other inline editing toolbars */

#ckeditor_area{
	position:absolute;
	width:207px;
	}

#ckeditor_area a{}

#ckeditor_bottom{
	width:180px;
	overflow:hidden;
	height:20px;
	}




#ckeditor_area span.cke_skin_kama{
	border:none;
	padding:0;
	margin:0;
	left:0;
	}
#ckeditor_area .cke_wrapper{
	border:0 none !important;
	padding:0 !important;
	background:#ededed !important;
	}
#ckeditor_area .cke_skin_kama .cke_rcombo .cke_text{
	width:33px;
	}
#ckeditor_area .cke_skin_kama .cke_rcombo a,
#ckeditor_area .cke_skin_kama .cke_rcombo a:active,
#ckeditor_area .cke_skin_kama .cke_rcombo a:hover{
	margin-right: 2px;
	margin-bottom:3px;
	}
#ckeditor_area .cke_skin_kama .cke_toolgroup{
	width:193px;
	text-align:justify;
	}

#ckeditor_area .ckeditor_control
/*
,
#ckeditor_area .ckeditor_control:hover,
#ckeditor_area .ckeditor_control:active
*/
	{
	font-family:Arial, sans-serif !important;
	font-size:12px !important;
	text-decoration:none !important;
	padding:3px 5px !important;

	border-top:1px solid #fafafa !important;
	border-left:1px solid #fafafa !important;
	border-bottom:1px solid #dad9d9 !important;
	border-right:1px solid #dad9d9 !important;

	background-color:#fafafa;
	background: -moz-linear-gradient(top, #fff 0%, #f7f7f7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#f7f7f7));
	background: -webkit-linear-gradient(top, #fff 0%,#f7f7f7 100%);
	background: -o-linear-gradient(top, #fff 0%,#f7f7f7 100%);
	background: -ms-linear-gradient(top, #fff 0%,#f7f7f7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 );
	background: linear-gradient(top, #fff 0%,#f7f7f7 100%);

	line-height:18px;
	display:inline-block;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin: 0 3px 4px 0 !important;
	color:#444 !important;
	text-shadow:1px 1px 0 #fff;
	}

#ckeditor_save{}

#ckeditor_area .full_width,
#ckeditor_area .full_width:hover,
#ckeditor_area .full_width:active{
	text-align:center !important;
	width:182px;
	}



.inline_editor iframe{
	overflow-y:hidden !important;
	}

.inline_editor span.cke_skin_kama{
	padding:0 !important;
	-moz-border-radius: 0 !important;
	-o-border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	border:0 none;
	}

/**
 * border around area being editing
 * Using :before so the border width doesn't affect display of content
 */
.editable_area,
.inline_editor span.cke_skin_kama,
.gp_editing{
	position:relative;
	z-index: 0;
	}

.inline_editor span.cke_skin_kama:before,
.gp_editing:before{
	content:"";
	position:absolute;
	top:-1px;right:-1px;bottom:-1px;left:-1px;
	padding:0 !important;

	border:1px solid #ccc !important;
	-moz-border-radius: 0 !important;
	-o-border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	z-index:-1;
	}

.inline_editor span.cke_skin_kama *{
	padding:0 !important;
	margin:0 !important;
	display:block !important;
	}

/* there's an inline <style> element, and some sort of label that will be displayed because of the previous statement */
.inline_editor span.cke_skin_kama style,
.inline_editor span.cke_skin_kama .cke_voice_label{
	display:none !important;
	}

/* not sure why, but we need both of the ckeditor definitions */
/* also, prevent user styles from affecting .ckeditor and iframe */
.inline_editor span.cke_wrapper,
table.cke_editor,
table.cke_editor > tbody,
table.cke_editor > tbody > tr,
table.cke_editor > tbody > tr > td
	{
	border:0 none !important;
	padding:0 !important;
	margin:0 !important;
	-moz-border-radius: 0 !important;
	-o-border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	border-radius: 0 !important;
	border-spacing:0 !important;
	-webkit-box-shadow: 0 0 0 transparent !important;
	-moz-box-shadow:0 0 0 transparent !important;
	box-shadow:0 0 0 transparent !important;

	}



#ckeditor_area .label{
	margin-right:4px;
	}


/* include  editing */
.gp_inlude_edit{
	font-size:12px;
	color:#444;
	margin:0 0 8px 0;
	float:left;
	display:block;
	}

.gp_inlude_edit input{
	border:1px solid #ccc;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding:4px;
	width:185px;
	margin-right:4px;
	}



/* testing docked ckeditor_area */
#ckeditor_wrap{
	display:none;
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	top:0;
	height:30px;
	z-index:10000; /* to be above full screen editing of ckeditor */
	}

/**
 *
 * Docked CSS
 *
 */
#ckeditor_area.docked{
	width:100%;
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	border-top:none;
	border-left:left:none;
	border-right:none;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;

	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	-o-box-shadow:none;
	-icab-box-shadow:none;
	-khtml-box-shadow:none;
	}

#ckeditor_area.docked > div{
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom:1px solid #f1f1f1;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	padding:7px;
	}

#ckeditor_area.docked .toolbar{float:right;clear:none;width:40px;padding:0;}
#ckeditor_area.docked .tools{
	margin-right:50px; /* room for the toolbar */
	}
#ckeditor_area.docked #ckeditor_bottom{display:block;float:left;}
#ckeditor_area.docked #ckeditor_controls{display:block;float:left;}

#ckeditor_area.docked #ckeditor_top .cke_skin_kama .cke_toolgroup{width:auto;}
#ckeditor_area.docked #ckeditor_top .cke_toolbox{clear:none;}
#ckeditor_area.docked #ckeditor_top .cke_editor{display:inline;}


#ckeditor_area.docked .option_area{
	float:left;
	width:200px;
	margin-right:10px;
	}
#ckeditor_area.docked #gp_gallery_avail_imgs{
	display:block;
	height:60px;
	}


