


/**
 * ckeditor... and other inline editing toolbars
 *
 */

#ckeditor_area{
	position:absolute;
	width:207px;
	font-family:Arial,sans-serif !important;
	}

#ckeditor_bottom{
	width:180px;
	overflow:hidden;
	height:20px;
	}

#ckeditor_area .cke_chrome{
	padding:0;
	border:0 none;
	}
#ckeditor_area .cke_inner{
	background:transparent !important;
	padding:0 !important;
	border:0 none !important;
	}

#ckeditor_area .tools{
	clear:both;
	}
#ckeditor_area .cke_toolgroup{
	margin-right:0;
	text-align:justify;
	width:193px;
	}

/* format/font/font-size menus */
#ckeditor_area .cke_combo__format .cke_combo_text{
	width:51px;
	}
#ckeditor_area .cke_combo__font .cke_combo_text{
	width:40px;
	}
#ckeditor_area .cke_combo__fontsize .cke_combo_text{
	width: 30px;
	}


#ckeditor_area .ckeditor_control{

	font-size:12px !important;
	text-decoration:none !important;
	padding:3px 5px !important;

	border-top:1px solid #fafafa !important;
	border-left:1px solid #fafafa !important;
	border-bottom:1px solid #dad9d9 !important;
	border-right:1px solid #dad9d9 !important;

	background-color:#fafafa;
	background: -moz-linear-gradient(top, #fff, #f7f7f7);
	background: -webkit-linear-gradient(top, #fff, #f7f7f7);
	background: -o-linear-gradient(top, #fff, #f7f7f7);
	background: -ms-linear-gradient(top, #fff, #f7f7f7);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 );
	background: linear-gradient(top, #fff, #f7f7f7);

	line-height:18px;
	display:inline-block;
	border-radius:5px;
	margin: 0 3px 4px 0 !important;
	color:#444 !important;
	text-shadow:1px 1px 0 #fff;

	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	vertical-align:top;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	}


#ckeditor_area .full_width,
#ckeditor_area .half_width{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom:4px;
	min-height:21px;
	display:inline-block;
	padding:3px 5px;
	font-size:12px !important;
	}


#ckeditor_area .full_width,
#ckeditor_area .full_width:hover,
#ckeditor_area .full_width:active{
	width:195px;
	}

#ckeditor_area .half_width,
#ckeditor_area .half_width:hover,
#ckeditor_area .half_width:active{
	width:123px;
	}
#ckeditor_area input.half_width,
#ckeditor_area input.full_width,
#ckeditor_area a.half_width,
#ckeditor_area a.full_width{
	text-align:center;
	}


/**
 * border around area being editing
 */
.editable_area,
.gp_editing{
	position:relative;
	}

.gp_editing{
	outline:1px solid #ccc !important;
	z-index:9000;
	}


#ckeditor_area .label{
	margin-right:4px;
	}


/* include  editing */
.gp_inlude_edit{
	font-size:12px;
	color:#444;
	margin:0 0 8px 0;
	float:left;
	display:block;
	}

.gp_inlude_edit input{
	border:1px solid #ccc;
	border-radius: 5px;
	padding:4px;
	width:185px;
	margin-right:4px;
	}



/* testing docked ckeditor_area */
#ckeditor_wrap{
	display:none;
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	top:0;
	height:30px;
	z-index:10000; /* to be above full screen editing of ckeditor */
	}

/**
 *
 * Docked CSS
 *
 */
#ckeditor_area.docked{
	width:100%;
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	border-top:none;
	border-left:left:none;
	border-right:none;
	border-radius: 0;

	box-shadow: 0 1px 0 rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 0 rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.2);
	-o-box-shadow: 0 1px 0 rgba(0,0,0,0.2);
	-icab-box-shadow: 0 1px 0 rgba(0,0,0,0.2);
	-khtml-box-shadow: 0 1px 0 rgba(0,0,0,0.2);
	}

#ckeditor_area.docked > div{
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom:1px solid #f1f1f1;
	border-radius: 0;
	padding:7px;
	}

#ckeditor_area.docked .toolbar{
	float:right;
	clear:none;
	width:20px;
	padding:0;
	}
#ckeditor_area.docked .tools{
	clear:none;
	margin-right:30px; /* room for the toolbar */
	}
#ckeditor_area.docked .cke_toolgroup{
	margin-right:5px;
	}
#ckeditor_area.docked #ckeditor_bottom{display:block;float:left;}
#ckeditor_area.docked #ckeditor_controls{display:block;float:left;}

#ckeditor_area.docked #ckeditor_top .cke_skin_kama .cke_toolgroup{width:auto;}
#ckeditor_area.docked #ckeditor_top .cke_toolbox{clear:none;}
#ckeditor_area.docked #ckeditor_top .cke_editor{display:inline;}


#ckeditor_area.docked #gp_option_area{
	float:left;
	width:200px;
	margin-right:5px;
	}


