

#ckeditor_area{
	width:260px;
	}

#ckeditor_bottom{
	display:none !important;
	}


#ckeditor_area .ck_reset_size{
	border: 1px solid #CCCCCC !important;
	font-size: 18px !important;
	line-height: 19px;
	padding: 0 4px !important;
	text-align: center;
	}


/* the position is left leaning to allow for a scrollbar */
#gp_gallery_avail_imgs{
	width:240px;
	height:220px;
	overflow:auto;
	overflow-x:hidden;
	margin: 0 0 5px;
	padding:5px;
	background-color:#fafafa;
	border:1px solid #fff;
	border-radius: 5px;
	display:inline-block;
	}

#gp_gallery_avail_imgs span{
	position:relative;
	display:block;
	float:left;
	width:45px;
	height:45px;
	margin:2px;
	overflow:hidden;

	border:2px solid #ddd;
	border-radius: 3px;
	}

#gp_gallery_avail_imgs span.expand{
	width:70px;
	height:70px;
	margin:-4px -11px -17px -10px;
	z-index:101;
	box-shadow:1px 1px 4px #777;
	-moz-box-shadow: 1px 1px 4px #777;
	-webkit-box-shadow:1px 1px 4px #777;
	-o-box-shadow: 1px 1px 4px #777;
	-icab-box-shadow: 1px 1px 4px #777;
	-khtml-box-shadow: 1px 1px 4px #777;
	border-color: #bbb;
	}
#gp_gallery_avail_imgs span.expand:nth-child(4n+1){
	margin-right:-19px;
	margin-left:-2px;
	}
#gp_gallery_avail_imgs span.expand:nth-child(4n+4){
	margin-left:-19px;
	margin-right:-2px;
	}


#gp_gallery_avail_imgs img{
	position:relative;
	display:inline-block;
	margin:0;
	padding:0;
	max-width:200px;
	max-height:200px;
	min-width:70px;
	min-height:70px;
	background:#fff;
	}


#gp_gallery_avail_imgs a.delete{
	position:absolute;
	top:-3px;
	right:-3px;
	z-index:102;
	background: #bbb url('../imgs/delete.png') no-repeat 50% 50%;
	border-radius: 3px;
	height:22px;
	width:22px;
	display:none;
	}
#gp_gallery_avail_imgs span.expand a.delete{
	display:block;
	}


/* upload form */

#gp_folder_options{
	display:inline-block;
	/* float:left;
	width:252px;
	*/
	}
.gp_upload_form{
	display:inline-block;
	width:126px;
	overflow:visible;
	}

.gp_upload_form a.ckeditor_control{
	position:absolute;
	z-index:10000;
	width:111px;
	text-align:center;
	}

#gp_upload_queue a{
	display:block;
	text-decoration:none;
	font: 11px Verdana, Geneva, sans-serif;
	border:1px solid #fafafa;

	border-radius:5px;
	margin: 0 3px 4px 0;
	color:#444;
	white-space:nowrap;
	overflow:hidden;

	width:223px;
	padding:3px 4px 3px 23px;
	background:#fafafa url('../imgs/loaderB16.gif') 2px 50% no-repeat;
}

#gp_upload_queue a.failed{
	background-image: url('../imgs/cancel.png');
	background-color: #FDE5DD !important;
	border: 2px solid #FBCBBC !important;
	white-space:normal;
}

#gp_upload_queue a.success{
	background-image: url('../imgs/cancel.png');
	background-color: #BCFBBC !important;
}

#gp_upload_queue a span{
	margin-right:4px;
	}




/**
 * gallery editing
 *
 */
.gp_drag_box{
	border:1px dashed #ccc !important;
	}

.ui-sortable li{
	cursor:move;
}

.gp_gallery_edit{
	position:absolute;
	left:5px;
	top:5px;
	z-index:9999;
	padding:2px;
	background-color:#f1f1f1;
}
.gp_gallery_edit a{
    color: #777777;
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    height: 16px;
    line-height: 15px;
    padding: 3px;
    text-align: center;
    width: 16px;
    cursor:pointer;
	}
.gp_gallery_edit img{}

.gp_gallery_edit img.page_edit{
	background:url('../imgs/admin_menu_icons.png') no-repeat 0 -32px;
	}
.gp_gallery_edit img.delete{
	background:url('../imgs/delete.png') no-repeat 0 0;
	}


/**
 * Folder Selection
 *
 */
#ckeditor_area .gp_edit_select{
	padding: 0 !important;
	position: relative;
	width: 250px;
	}
.gp_edit_select_options{
	padding:0 5px 5px 15px;
	overflow:auto;
	overflow-x:hidden;
	display:none;
	height:135px;
	}
.gp_active .gp_edit_select_options{
	display:block;
	}


#ckeditor_area a.gp_selected_folder,
#ckeditor_area a.gp_gallery_folder{
	display:block;
	text-decoration:none;
	font-size:12px;
	height:16px;
	overflow:hidden;
	color:#444;
	min-width:180px;
	white-space:nowrap;
	padding:3px 4px;
	}

#ckeditor_area a.gp_selected_folder{
	margin:0 !important;
}


#ckeditor_area a.gp_selected_folder .folder,
#ckeditor_area a.gp_gallery_folder .folder,
#ckeditor_area a.gp_gallery_folder .add{
	display:inline-block;
	height:16px;
	width:16px;
	float:left;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	margin-right:5px;
	background-image:url('../imgs/folder.png');
	}
#ckeditor_area a.gp_gallery_folder .add{
	background-image:url('../imgs/add.png');
	}
#ckeditor_area a.gp_selected_folder:after{
	position:absolute;
	right:10px;
	font-size:10px;
	color:#aaa;
	content:"\25BC";
	}

#ckeditor_area a.gp_gallery_folder .gp_count{
	float:right;
	}

#ckeditor_area a.gp_gallery_folder:hover{
	background-color:#ededed;
	background-color:rgba(0, 0, 0, 0.05);
	border-radius: 3px;
	}



/**
 * Current image options
 *
 */
#gp_current_image{
	width:240px;
	overflow:auto;
	overflow-x:hidden;
	margin:0 5px 5px 0;
	padding:5px;
	background-color:#fafafa;
	border:1px solid #fff;
	border-radius: 5px;
	float:left;
	}
#gp_image_wrap{
	width:237px;
	text-align:center;
	display:block;
	float:left;
	}
#gp_current_image img{
	max-width:237px;
	max-height:100px;
	display:block;
	margin:0 auto 5px auto;
	}
#gp_current_image label{
	margin-right:5px;
	}
#ckeditor_area .ck_input,
#gp_current_image .ck_input{
	width:40px;
	border:1px solid #ccc;
	padding:2px 3px;
	border-radius: 3px;
	text-align:right;
	line-height:17px;
	height:auto;
	margin:0;
	}
#gp_size_options,
#gp_current_image table{
	float:left;
	}
#gp_size_options{
	margin-bottom:5px;
	}
body #gp_size_options td,
body #gp_current_image td{
	text-align:right;
	vertical-align:middle;
	width:59px;
	}
#gp_size_options td:nth-child(2n),
#gp_current_image td:nth-child(2n){
	text-align:left;
	}
#ckeditor_area b{
	display:block;
	margin-top:5px;
    display: block;
    padding: 4px 0;
    width: 120px;
    }



.gp_image_edit{
	background-repeat:no-repeat;
	cursor:move;
	position:relative;
	}

/**
 * Docked styles
 *
 */
#ckeditor_top,
#gp_image_area,
#gp_edit_select,
#ckeditor_save,
#gp_source_options,
#gp_option_area{
	display:inline-block;
	}

#ckeditor_area.docked #gp_source_options{
	width:124px;
	margin-right:5px;
	vertical-align:top;
	}

#ckeditor_area.docked #ckeditor_controls{
	display:inline-block;
	float:none;
	vertical-align:top;
	width:260px;
	}

#ckeditor_area.docked #gp_option_area{
	display:inline-block;
	width:auto;
	}
#ckeditor_area.docked .gp_edit_select_options{
	display:block !important;
	height: 101px !important;
	}

#ckeditor_area.docked #gp_gallery_avail_imgs,
#ckeditor_area.docked #gp_current_image{
	height:117px !important;
	margin-right:5px;
	}
#ckeditor_area.docked #gp_current_image img{
	max-height:60px;
	}

