
#ckeditor_top {
	margin-bottom: 5px;
	border-radius: 3px;
}

#section_sorting,
#section_sorting li,
#section_sorting ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}

#section_sorting {
	padding: 3px 0 3px 3px;
}

#section_sorting ul {
	clear: both;
	margin: 0 0 3px 3px;
	padding-left: 3px;
	transition: all 0.7s ease 0s;
	-webkit-transition: all 0.7s;
	-moz-transition: all 0.7s;
	-ms-transition: all 0.7s;
	transition: all 0.7s;
	min-height: 25px;
}

#section_sorting li {
	background: #fff url('../imgs/drag_handle.gif') no-repeat 7px 5px;
	position: relative;
	border: 1px solid #f1f1f1;
	margin: 5px 0;
}

#section_sorting li.section-sorting-highlight {
	outline: 1px solid #333;
	outline-offset: -1px;
}

#section_sorting .color_handle {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 4px;
	cursor: pointer;
	background-color: #aabbcc;
}

/* when ctrl key is pressed: */
#section_sorting.warn-instant-section-removal div > .options a.RemoveSection {
	color: #C44830;
}
#section_sorting.warn-instant-section-removal div > .options a.RemoveSection:after {
	content: '!';
}

#section_sorting > li:only-child > div .RemoveSection {
	opacity: 0.3;
	pointer-events: none;
	cursor: default;
}

#section_sorting div {
	padding:4px 0 2px 17px;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
}

.section-highlight,
.temporary-section {
	outline: 2px dotted #C44830 !important;
}

.temporary-section .temporary-section {
	outline: 0 none !important;
}

#section_sorting div > .options {
	display: none;
	float: right;
	height: 18px;
}
#section_sorting div > .options a {
	height: 16px;
	width: 16px;
	display: inline-block;
	vertical-align: top;
	margin: 0 3px 0;
	color: #333;
	font-size: 14px;
}

#section_sorting li.section-item-hover {
	background-color: #f5f5f5;
}

#section_sorting li.section-item-hover > div > .options {
	display: inline-block;
}

#section_sorting input {
	border: 1px solid #ddd;
	border-radius: 3px;
	box-shadow: none;
	background: #fff;
	margin: 2px 0;
	font-size: 13px;
	display: block;
	height: 21px;
	padding: 0 3px;
	box-sizing: border-box;
}

#section_sorting .section_label_wrap {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	box-sizing: border-box;
	text-overflow: ellipsis;
	font-style: normal;
	height: 18px;
}

#section_sorting li.gp-section-hidden,
#section_sorting li.gp-section-hidden li {
	background: -webkit-repeating-linear-gradient(-45deg, #ccc, #ccc 2px, #fff 2px, #fff 4px);
	background: repeating-linear-gradient(-45deg, #ccc, #ccc 2px, #fff 2px, #fff 4px);
}

/* hide edit icon (pencil) on hidden sections, hide visibility icon on all children of hidden wrappers */
#section_sorting li.gp-section-hidden div > .options a[data-cmd='SectionEdit'],
#section_sorting li.gp-section-hidden ul div > .options a[data-cmd='ShowHideSection'] {
	display: none;
	pointer-events: none;
}


/**
 * Color selection
 *
 */
#section_sorting li span.secsort_color_swatches {
	display: block;
	text-align: center;
	background: #fff;
}

#section_sorting li span.secsort_color_swatches a {
	display: inline-block;
	width: 5px;
	height: 16px;
	margin: 4px 2px 2px;
	cursor: pointer;
}

#section_sorting li span.secsort_color_swatches a:hover {
	outline: 1px solid rgba(0, 0, 0, 0.5);
	outline-offset: -1px;
}

/**
 * Collapsible Sections
 *
 */
#section_sorting .secsort_wrapper_toggle:before {
	display: inline-block;
	content: '\25bc';
	position: relative;
	color: #333;
	top: -0.2em;
	padding: 0 2px;
	margin-right: 0.25em;
	font-size: 10px !important;
}

#section_sorting .wrapper_collapsed .secsort_wrapper_toggle:before {
	content: '\25b6';
}

#section_sorting .wrapper_collapsed > ul {
	border-color: transparent;
}

#section_sorting .wrapper_collapsed > ul > li {
	display: inline-block;
	height: 22px;
	width: 22px;
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	vertical-align: top;
	padding: 0;
	margin: 0 5px 5px 0;
	cursor: pointer;
}

#section_sorting .wrapper_collapsed > ul > li * {
	display: none !important;
}

#section_sorting .wrapper_collapsed > ul > li div,
#section_sorting .wrapper_collapsed > ul > li .color_handle {
	display: block !important;
}

/**
 * Helper (the li that follows the cursor)
 *
 */
#section_sorting .ui-sortable-helper * {
	display: none !important;
}

#section_sorting .ui-sortable-helper,
#section_sorting .ui-sortable-helper > div,
#section_sorting .ui-sortable-helper .color_handle {
	display: block !important;
	width: 22px !important;
	height: 22px !important;
	border: 0 none !important;
	padding: 0 !important;
}

/**
 * Placeholder
 *
 */
#section_sorting .ui-sortable-placeholder {
	border: 1px dotted #ddd !important;
	visibility: visible !important;
	background: #fff !important;
	background: -webkit-repeating-linear-gradient(135deg, #fff, #fff 2px, rgba(0,0,0,0.03) 2px, rgba(0,0,0,0.03) 4px) !important;
	background: repeating-linear-gradient(135deg, #fff, #fff 2px, rgba(0,0,0,0.03) 2px, rgba(0,0,0,0.03) 4px) !important;
	margin: 4px 0;
	width: 100%!important; /* sortable will use the width:0 for elements within a wrapper_collapsed */
	height: 12px!important;
}

#section_sorting .wrapper_collapsed .ui-sortable-placeholder {
	width: 25px !important;
	height: 22px !important;
	display: inline-block;
}

#section_sorting .ui-sortable-placeholder * {
	visibility: hidden;
}

/**
 * Section Clipboard
 *
 */
#section-clipboard{
	margin: 4px 2px 10px 0;
}

ul#section-clipboard-items {
	padding: 4px 4px 1px 4px;
	background: rgba(0, 0, 0, 0.075);
	border: 1px dashed rgba(0, 0, 0, 0.125);
	/* box-shadow:inset 0 0 2px rgba(0, 0, 0, 0.125); */
	min-height: 8px;
	margin: 0;
}

ul#section-clipboard-items li {
	display: block;
	background: #fff url('../imgs/drag_handle.gif') no-repeat 4px 4px;
	margin: 0 0 3px 0;
	padding: 2px 2px 2px 14px;
	cursor: pointer;
}

ul#section-clipboard-items li a.preview_section {
	display: block;
	position: relative;
	margin: 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #222 !important;
}

ul#section-clipboard-items li a.remove-clipboard-item,
ul#section-clipboard-items li a.relabel-clipboard-item {
	display: block;
	float: right;
	width: 20px;
	text-align: center;
	color: #222!important;
}

ul#section-clipboard-items li.clipboard-empty-msg {
	padding: 0;
	text-align: center;
	color:#888;
	background: none transparent;
	padding: 0;
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
} 

#section-clipboard .clipboard-item-icon {
	display: block;
	float: left;
}

#section-clipboard .clipboard-item-label-wrap {
	display: block;
	float: left;
	width: calc(100% - 20px);
	padding: 0 2px;
	box-sizing: border-box;
	font-style: normal;
}

#section-clipboard .clipboard-item-label {
	display: block;
	padding: 0 2px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#section-clipboard input {
	display: block;
	width: 114px;
	border: 1px solid #ddd;
	border-radius: 3px;
	box-shadow: none;
	background: #fff;
	margin: 0;
	font-size: 13px;
	height: 16px;
	padding: 0 2px;
	box-sizing: border-box;
}


/**
 * Available classes
 *
 */
#gp_avail_classes tbody {
	background: #f8f8f8;
}
#gp_avail_classes td {
	background: #f8f8f8;
	border: 0 none;
}

#gp_avail_classes label.gpcheckbox {
	display: block !important;
}

#gp_avail_classes label.gpcheckbox input[type='checkbox'] {
	margin-right: 6px !important;
}

#gp_avail_classes label.gpcheckbox select {
	margin-right: 0 !important;
	padding: 0 16px 0 0 !important;
	position: relative;
	margin-left: -4px;
	width: 134px;
	border: none !important;
	border-radius: 0 !important;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	outline: none;
	cursor: pointer;
}

#gp_avail_classes label.gpcheckbox select::-ms-expand {
	display: none;
}

#gp_avail_classes .avail_classes_container {
	margin: -4px;
	display: block;
	max-height: 256px;
	overflow-y: auto;
}

#gp_avail_classes .avail_classes_col {
	display: block;
	position: relative;
	box-sizing: border-box;
	float: left;
	width: 33.33%;
	padding: 4px;
}

#gp_avail_classes .avail_classes_col label {
	position: relative;
	margin: 0;
}

#gp_avail_classes .avail_classes_desc {
	display: none; /* will be a popover */
	z-index: 11100;
	background: #2b2b2b;
	color: #eee;
	padding: 8px 12px;
	width: 180px;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

#gp_avail_classes .avail_classes_desc .popover_arrow {
	display: none;
	position: absolute;
	width: 10px;
	height: 10px;
	background: #2b2b2b;
	top: 50%;
	left: 50%;
	transform: rotate(-45deg);
}

#gp_avail_classes .avail_classes_desc[x-placement^="bottom"] .popover_arrow {
	display: block;
	top: -5px;
}

#gp_avail_classes .avail_classes_desc[x-placement^="top"] .popover_arrow {
	display: block;
	top: auto;
	bottom: -5px;
}

#gp_avail_classes .avail_classes_desc[x-placement^="left"] .popover_arrow {
	display: block;
	left: auto;
	right: -5px;
}

#gp_avail_classes .avail_classes_desc[x-placement^="right"] .popover_arrow {
	display: block;
	left: -5px;
}

.gpcaret {
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px dashed;
	height: 0;
	width: 0;
	pointer-events: none;
	position: absolute;
	top: 12px;
	right: 12px;
	z-index: 10;
	cursor: pointer;
}


/**
 * Layout Content
 *
 */
#ck_editable_areas ul {
	margin: 0;
	padding: 0;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #fff;
}

#ck_editable_areas li {
	display: block;
	padding: 9px 0;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #ddd;
	box-sizing: border-box;
}

#ck_editable_areas li:after {
	display: block;
	clear: both;
	content: '';
}

#ck_editable_areas li a {
	display: block !important;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

#ck_editable_areas a,
#ck_editable_areas a:visited {
	color: #333;
}

#ck_editable_areas a i {
	margin-right: 3px;
}

#ck_editable_areas a.draft {
	background: #329880;
	border-radius: 3px;
	color: #fff;
	padding: 2px 5px;
	float: right;
	margin: 2px 0 2px 4px;
}
