
#ckeditor_top{
	margin-bottom:5px;
	border-radius:3px;
	}

#section_sorting,
#section_sorting li,
#section_sorting ul{
	margin:0;
	padding:0;
	list-style:none;
	display:block;
	}

#section_sorting{
	padding: 3px 0 20px 3px;
	}

#section_sorting ul{
    clear: both;
    margin: 0 0 3px 3px;
    padding-left:3px;
    transition: all 0.7s ease 0s;
	-webkit-transition:all 0.7s;
	-moz-transition:all 0.7s;
	-ms-transition:all 0.7s;
	transition:all 0.7s;
	min-height:25px;
	}

#section_sorting li{
	background: #fff url('../imgs/drag_handle.gif') no-repeat 7px 5px;
	position:relative;
	border:1px solid #f1f1f1;
	margin:5px 0;
	}

#section_sorting .color_handle{
	position:absolute;
	top:-1px;
	left:-1px;
	bottom:-1px;
	width:4px;
	cursor:pointer;
	background-color:#aabbcc;
	}

#section_sorting > li:only-child > div .RemoveSection{
	opacity: 0.3;
	pointer-events: none;
	cursor: default;
	}

#section_sorting div{
	padding:4px 0 2px 17px;
	cursor:pointer;
	white-space:nowrap;
	overflow:hidden;
	}

.section-highlight,
.temporary-section{
	outline: 2px dotted red !important;
	}
.temporary-section .temporary-section{
	outline:0 none !important;
	}

#section_sorting div > .options{
	display:none;
	float:right;
	height:18px;
	}
#section_sorting div > .options a{
	height:16px;
	width:16px;
	display:inline-block;
	vertical-align:top;
	margin:0 3px 0;
	color:#333;
	font-size:14px;
	}

#section_sorting li.section-item-hover{
	background-color:#f5f5f5;
	}

#section_sorting li.section-item-hover > div > .options{
	display:inline-block;
	}
#section_sorting input{
	border:1px solid #ddd;
	border-radius:3px;
	box-shadow:none;
	background:#fff;
	margin:2px 0;
	font-size:13px;
	display:block;
	height:21px;
	padding:0 3px;
	box-sizing:border-box;
	}

#section_sorting .section_label_wrap{
	display:block;
	white-space: nowrap;
	overflow: hidden;
	box-sizing:border-box;
	text-overflow: ellipsis;
	font-style:normal;
	height:18px;
}

#section_sorting li.gp-section-hidden,
#section_sorting li.gp-section-hidden li {
	background: -webkit-repeating-linear-gradient(-45deg, #ccc, #ccc 2px, #fff 2px, #fff 4px);
	background: repeating-linear-gradient(-45deg, #ccc, #ccc 2px, #fff 2px, #fff 4px);
	}

/* hide edit icon (pencil) on hidden sections, hide visibility icon on all children of hidden wrappers */
#section_sorting li.gp-section-hidden div > .options a[data-cmd='SectionEdit'], 
#section_sorting li.gp-section-hidden ul div > .options a[data-cmd='ShowHideSection'] {
	display: none;
	pointer-events: none;
	}


/**
 * Color selection
 *
 */

#section_sorting li span.secsort_color_swatches {
	display:block;
	text-align:center;
	background:#fff;
}

#section_sorting li span.secsort_color_swatches a{
	display:inline-block;
	width:5px;
	height:16px;
	margin:4px 2px 2px;
	cursor:pointer;
}

#section_sorting li span.secsort_color_swatches a:hover {
	outline:1px solid rgba(0,0,0,0.5);
	outline-offset:-1px;
}

/**
 * Collapsable Sections
 *
 */
#section_sorting .secsort_wrapper_toggle:before{
	display:inline-block;
	content:"\25bc";
	position:relative;
	color:#333;
	top:-0.2em;
	padding:0 2px;
	margin-right:0.25em;
	font-size:10px!important;
}

#section_sorting .wrapper_collapsed .secsort_wrapper_toggle:before{
	content:"\25b6";
}

#section_sorting .wrapper_collapsed>ul{
	border-color:transparent;
}

#section_sorting .wrapper_collapsed > ul > li{
	display:inline-block;
	height:22px;
	width:22px;
	border-top:1px solid #ddd;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;
	vertical-align:top;
	padding:0;
	margin:0 5px 5px 0;
	cursor:pointer;
	}

#section_sorting .wrapper_collapsed > ul > li *{
	display:none !important;
}
#section_sorting .wrapper_collapsed > ul > li div,
#section_sorting .wrapper_collapsed > ul > li .color_handle{
	display:block !important;
}

/**
 * Helper (the li that follows the cursor)
 *
 */

#section_sorting .ui-sortable-helper *{
	display:none !important;
	}

#section_sorting .ui-sortable-helper,
#section_sorting .ui-sortable-helper > div,
#section_sorting .ui-sortable-helper .color_handle{
	display:block !important;
	width:22px !important;
	height:22px !important;
	border: 0 none !important;
	padding: 0 !important;
	}

/**
 * Placeholder
 *
 */
#section_sorting .ui-sortable-placeholder{
	border:1px dotted #ddd !important;
	visibility:visible !important;
	background: #fff !important;
	background: repeating-linear-gradient( 135deg, #fff, #fff 2px, rgba(0,0,0,0.03) 2px, rgba(0,0,0,0.03) 4px) !important;
	margin:4px 0;
	width:100% !important; /* sortable will use the width:0 for elements within a wrapper_collapsed */
	height:12px !important;
	}

#section_sorting .wrapper_collapsed .ui-sortable-placeholder{
	width:25px !important;
	height:22px !important;
	display:inline-block;
	}

#section_sorting .ui-sortable-placeholder *{
	visibility:hidden;
	}

/**
 * Available classes
 *
 */
#gp_avail_classes tbody{
	display:block;
	background:#f8f8f8;
	max-height:256px;
	overflow-y:auto;
	}
#gp_avail_classes td{
	background:#f8f8f8;
	border:0 none;
	}

#gp_avail_classes label.gpcheckbox{
	display:block !important;
	}
#gp_avail_classes label.gpcheckbox input[type=checkbox]{
	margin-right:6px !important;
	}

#gp_avail_classes label.gpcheckbox select{
	margin-right:0!important;
	padding:1px 0!important;
	position:relative;
	left:-5px;
	width:114px;
	border:none!important;
	border-radius:0!important;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	background: none;
	outline:none;
	}

.gpcaret{
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px dashed;
    display: inline-block;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    width: 0;
}


/**
 * Layout Content
 *
 */
#ck_editable_areas ul{
	margin:0;
	padding:0;
	border-top:1px solid #ddd;
	border-bottom:1px solid #fff;
	}

#ck_editable_areas li{
	display:block;
	padding:9px 0;
	border-top:1px solid #fff;
	border-bottom:1px solid #ddd;
	box-sizing:border-box;
	}
#ck_editable_areas a,
#ck_editable_areas a:visited{
	color:#333;
}

#ck_editable_areas a i{
	margin-right:3px;
	}

#ck_editable_areas a.draft{
	background: #38ab90;
	border-radius:3px;
	color:#fff;
	padding:2px 5px;
	float:right;
}


