
#theme_toolbar{
	height:35px;
	top:0;
	min-width:810px;
	position:fixed;
	z-index: 9000;

	border-bottom:1px solid #aaa;
	width:100%;

	background: #ededed;
	background: #ededed -moz-linear-gradient(top, #fafafa 5px, #ededed 100%);
	background: #ededed -webkit-linear-gradient(top, #fafafa 5px,#ededed 100%);
	background: #ededed -o-linear-gradient(top, #fafafa 5px,#ededed 100%);
	background: #ededed -ms-linear-gradient(top, #fafafa 5px,#ededed 100%);
	background: #ededed linear-gradient(top, #fafafa 5px,#ededed 100%);
	}
body #gp_admin_html #theme_toolbar a{
	color:#333;
	}

#theme_left{
	padding-left:40px;
	}

#theme_right,
#theme_left{
	height:35px;
	float:left;
	}

#theme_right > div,
#theme_left > div{
	float:left;
	padding:0 7px;
	line-height:35px;
	}
#theme_right{
	float:right;
	margin-right:-1px;
	}

#theme_left > div{
	border:0 none;
	height:35px;
	}
#theme_left > div.step{
	padding-right:30px;
	background:url('../imgs/layout_arrow_35.png') no-repeat 100% 0;
	}


#layout_ident{
	position:absolute;
	display:none;
	z-index:12000;
	}

#layout_ident .colors{
	width:140px;
	}
#layout_ident .color{
	position:relative;
	float:left;
	height:16px;
	width:16px;
	margin:0 1px 1px 0;
	}
#layout_ident td{
	padding:3px;
	}


#theme_content_drop{
	position:absolute;
	top:0;
	left:0;
	height:0;
	width:0;
}

#theme_content_drop .draggable_element{
	background:#888;
	z-index:8100; /*  given 8100 z-index by js */
	border:3px dotted #FFF;
	border-radius: 3px;
	}

#theme_content_drop .hover{
	z-index:9000;
}

#theme_content_drop .target{
	background:#FFAAAA;
	padding:6px;
	margin-top:-6px;
	margin-left:-6px;
	}

#theme_content_drop .output_area_label{
	font-weight:bold;
	overflow:hidden;
	padding:3px;
	font-size:13px;
	}
#theme_content_drop .output_area_link{
	/* position:relative;
	float:right; */
	font-weight:bold;
	margin-bottom:7px;
	}

#theme_content_drop .output_area_link a{
	/* position:relative;
	float:right; */
	float:left;
	border:1px solid #333;
	background-color:#555;
	color:#fff !important;
	font-weight:bold;
	padding:2px 4px;

	margin:3px;
	text-decoration:none;

	border-radius:3px !important;
	z-index:8300;
}
#theme_content_drop .output_area_link a:hover{
	background-color:#444;
	z-index:8300;
}

.titles_using{
	margin:0;
	padding:0;
	}
.titles_using li{
	float:left;
	display:block;
	width:150px;
	list-style:none;
	padding:0;
	}

.titles_using a{
	margin:1px 1px 0 0;
	color:#333 !important;
	padding:5px;
	display:block;
	overflow:hidden;
	background-color:#fafafa;
	white-space:nowrap;
	}
.titles_using a:hover{
	background-color:#fdfdfd;
	}

.layout_color_id_large{
	width:24px;
	height:24px;
	}
.add_layout a{
	border-radius: 3px;
	padding:4px 7px;
	color:#fff !important;
    font-weight: bold;
    background: none repeat scroll 0 0 #209400;
    border: 1px solid #176B00;
	}

#theme_right .dd_list{
	right:0;
	}
.dd_menu{
	margin:5px 0;
	}


.layout_css{
	width:630px;
	height:350px;
	}


/**
 * Drag n drop css
 *
 */
#gp_drag_n_drop{
	position:absolute;
	width:300px;
	z-index:8200;
	cursor:pointer;
	}
#gp_drag_n_drop > div{
	padding:10px;
}
#gp_drag_n_drop > div > div{
	background-color:#fff;
	border:1px solid #ddd;
	border-radius: 3px;
	padding:10px;
}


/**
 * Available Themes
 *
 */
#gp_admin_html .gp_available_themes a.gpsubmit{
	min-width:100px;
	overflow:hidden;
	text-overflow:ellipsis;
	}

#gp_avail_themes{
	margin-right:-30px;
	}
#gp_avail_themes > div{
	display:inline-block;
	vertical-align:top;
	width:300px;
	padding:20px 20px 0 0;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	cursor:pointer;
	position:relative;
	}

.columns_3 #gp_avail_themes > div{
	width:33%;
	}

.columns_2 #gp_avail_themes > div{
	width:49%;
	}

.columns_1 #gp_avail_themes > div{
	width:99%;
	}

#gp_avail_themes b{
	display:block;
	font-size:16px;
	line-height:22px;
	font-weight:normal;
	position:relative;
	}

#gp_avail_themes .gp_theme_head{
	padding-left:15px;
	}
#gp_avail_themes .expand_child_click .gp_theme_head{
	padding-left:15px;
	}


#gp_avail_themes .expand_child_click .gp_theme_head:before{
	height:24px;
	width:15px;
	position:absolute;
	left:2px;
	bottom:-1px;
	border-radius:3px 3px 0 0;
	content:'\25B8';
	color:#666;
	}
#gp_avail_themes .expand .gp_theme_head:before{
	content:'\25BE';
	}


#gp_avail_themes > div > div{
	height:0;
	padding-bottom:70%;
	border:1px solid #ddd;
	box-shadow:0 0 3px #eee;
	-moz-box-shadow:0 0 3px #eee;
	-webkit-box-shadow:0 0 3px #eee;
	vertical-align:top;
	overflow:hidden;
	position:relative;

	background-repeat:no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	}

#gp_avail_themes > div > div:after{
	position:absolute;
	content:"\000A";
	border:1px solid #fff;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:1;
	}

#gp_avail_themes .gp_theme_options{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index:2;
	background:#fff;
	background:rgba(255,255,255,0.95);
	padding:15px;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	overflow:auto;
	}

#gp_avail_themes .expand_child_click .gp_theme_options{
	opacity: 0;
	filter: alpha(opacity = 0);
	-webkit-transition: opacity .5s ease-out;
	-moz-transition: opacity .5s ease-out;
	-ms-transition: opacity .5s ease-out;
	transition: opacity .5s ease-out;
	}

#gp_avail_themes .expand .gp_theme_options{
	opacity:1;
	filter: alpha(opacity = 100);
	}

#gp_avail_themes ul,
#gp_avail_themes li{
	list-style:none;
	padding:0;
	margin:0;
	position:relative;
	display:block;
	}
#gp_avail_themes li{
	padding:3px 0 4px 15px;
	}
#gp_avail_themes ul{
	margin-bottom:15px;
	}


/**
 * Fix for bootstrap css
 */
body.edit_layout .navbar-fixed-top{
	top:36px;
	}

