@import url('../Blue/style.css');

#header{
	border-bottom:9px solid #dd5500;
	}
#header2{
	border-bottom:5px solid #ee6600;
	}

#menu li:hover a , #menu li a.selected {
	background: #ee6600;
	border-color:#ee6600;
}
