@import url('../Blue/style.css');

#header{
	border-bottom:9px solid #aa0000;
	}
#header2{
	border-bottom:5px solid #cc1111;
	}

#menu li:hover a , #menu li a.selected {
	background: #cc1111;
	border-color:#cc1111;
}
